.main {
  margin: 10px;
  background-color: beige;
}
.header {
  background-color: black;
  border-left: 1px solid red;
  margin: 0%;
  margin-top: 15px;
  padding: 5px;
}
body {
    margin: 1px;
    padding: 5pc;
    background: black;
    overflow:hidden;
}
* {
    box-sizing: border-box;
}
p {
    font-family: monospace;
    font-weight: bold;
    font-size: 4.1vh;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: rgb(236, 0, 0);
    text-shadow: 0px 0px 10px #ff0000fa;
}
  
.msg {
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 5vh;
    padding-top: 5vh;
    background: red;
    box-shadow: 0 0 30px red;
    text-shadow: 0 0 20px white;
    color: white;
    padding : 20px;
    position: absolute;
    left: 50%;
    margin-left: -10vw;
    top: 50%;
    margin-top: -5vh;
    text-align: center;
    min-width: 200px;
    animation-name: blink;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
  
@keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}